#background {
    height: 725px;
}
body {
    background-color: white
}
header {
    background-color:#046ede
}
nav a:hover {
    background-color: #03045e;
    color: #90b8f0;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
    color: black;
    background-color: #c8d9f7;
}
div {
    max-width: 1600px;
    background-color: #90b8f0;
    margin: 0 auto;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
img {
    text-align: center;
}
