#background {
    height: 725px;
}
body {
    background-color: #fcfbfb
}
header {
    background-color:lightblue;
}
nav a:hover {
    background-color: black;
    color: #abc4e9;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #fcfbfb;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
}
