body {
    background-color: white;
}
header {
    background-color:#046ede;
}
.book {
    background-color: #90b8f0;
    color: #03045e
}
.join { 
    background-color: #90b8f0;
    color: white;
}
.book:hover {
    background-color: white;
    color: #046ede;
}
.join:hover {
    background-color: #046ede;
    color: white;
}
.msg {
    background-color: #90b8f0;
}
nav a:hover {
    background-color: #03045e;
    color: #90b8f0;
}
.icon {
    width: 80px;
}
nav a {
    text-align: center;
    color: #90b8f0;
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline;
    color: white;
    background-color: #046ede;
}
footer {
    background-color: #fcfbfb;
}
div {
    max-width: 1600px;
    background-color: #fcfbfb;
    margin: 0 auto;
}
#hero-msg h1 {
    text-align: center;
}
#hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
img {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #046ede;
}
