* {
    border: 1px solid red;
}
body {
    background-color: rgb(250, 248, 240);

}
a {
    background-color: lightblue;
    color: #000
    text-decoration: none; 
    padding: 10px;
    margin: 5px;
    text-align: center;
}
a:hover {
    background-color: darkgray;
    color: white;

}
nav {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 1.5em;
    text-align: center;
}
img {
    width: 60%;
}
.background {
    Background-color: #ccc;
}