* {
    border: 1px solid red;
}
body {
    background-color: rgb(250, 248, 240);

}
a {
    background-color: lightblue;
    color: #000
    text-decoration: none; 
    padding: 10px;
    margin: 5px;
    text-align: center;
}
a:hover {
    background-color: darkgray;
    color: white;

}
nav {
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 1.5em;
    text-align: center;
    display: block;
    margin:0 auto;
}
img {
    width: 60%;
}
p {
    /* text-align: center; */
    width: 60%;
    margin: 10px auto; 
    padding: 10px;
}
.background {
    background-color: #ccc;
}
footer p {
    text-align: center;
    background-color: lightblue;
    color: rgb(71, 69, 69);
}